*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 239, 192);
}

form{
    box-shadow: 3px 3px 15px grey;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px;
    width: 40%;
    height: auto;
    color: rgb(78, 148, 79);
}

h1{
    width: 100%;
    margin: 0;
    padding: 2%;
    background-color: #4E944F;
    color: white;
}

input{
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    padding: 7px;
    border: 1px solid;
    margin: 5px;
    color: #4E944F;
}

input::placeholder{
    color: #4E944F;
}

/* Courirer */
.kurir{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 2px 10px;
    border: 1px solid #000;
}

.kurir div {
    display: flex;
    align-items: center;
}

.checked{
    border: 3px solid #1dc51d;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #c5f1c5;
}

/* Courirer end */

/* Error message */
/* .error-message {
    display: none;
    border: 1px solid red;
    background-color: #ff00008f;
    border-radius: 10px;
    padding: 8px;
    margin: 0 0 12px 0px;
    color: white;
} */

ul{
    list-style: none;
    color: red;
    margin: 0 0 0 3%;
    padding: 0;
    font-size: small;
}

/* Error message end */

/* Username */
div#username {
    display: flex;
    justify-content: center;
}
/* Username end */

/* Phone */
div#phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#phone-data{
    width: 60%;
}

div#phone input{
    width: 90%;
}
/* Phone end */

/* Email */
div#email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#email-data{
    width: 60%;
}

div#email input{
    width: 90%;
}
/* Email end */

/*Address*/
div#address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

div#address-data{
    width: 60%;
}

div#address-data input{
   width: 90%;
}
/* Address end */

#username input{
    width: 100%;
}

#napomene{
    width: 90%;
    height: 150px;
    padding: 7px;
    outline: none;
    border: 1px solid;
    border-radius: 10px;
    color: #4E944F;
}

button {
    color: white;
    background-color: #4E944F;
    border: none;
    border-radius: 10px;
    width: 35%;
    padding: 3%;
    margin:2% 1%;
}

.button{
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    form{
        width: 100%;
    }

    img{
        width: 25vw;
    }

    div#username{
        display: block;
    }

    div#username input{
        width: 90%;
    }

    div#phone{
        display: block;
        width: 100%;
    }

    div#phone-data{
        width: 100%;
    }

    div#email{
        display: block;
        width: 100%;
    }

    div#email-data{
        width: 100%;
    }

    div#address{
        display: block;
        width: 100%;
    }

    div#address-data{
        width: 100%;
    }
}