*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 239, 192);
}

form{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px;
    width: 40%;
    height: auto;
    color: rgb(78, 148, 79);
}

h1{
    width: 100%;
    margin: 0;
    padding: 2%;
    background-color: #4E944F;
    color: white;
}

input{
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    padding: 7px;
    border: 1px solid;
    margin: 5px;
    color: #4E944F;
}

input::placeholder{
    color: #4E944F;
}

/* Courirer */
#kurir{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#kurir div {
    display: flex;
    align-items: center;
}

/* Courirer end */

/* Username */
div#username {
    display: flex;
    justify-content: center;
}
/* Username end */

/* Phone */
div#phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#phone-data{
    width: 60%;
}

div#phone input{
    width: 90%;
}
/* Phone end */

/* Email */
div#email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#email-data{
    width: 60%;
}

div#email input{
    width: 90%;
}
/* Email end */

/*Address*/
div#address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

div#address-data{
    width: 60%;
}

div#address-data input{
   width: 90%;
}
/* Address end */

#username input{
    width: 50%;
}

#napomene{
    width: 90%;
    height: 150px;
    padding: 7px;
    outline: none;
    border: 1px solid;
    border-radius: 10px;
    color: #4E944F;
}